.tableContainer {
    width: 98%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #ddd;
}

.th, .td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.tr:nth-child(even) {
    background-color: #f2f2f2;

    .tableContainer {
        width: 90%;
        overflow-x: auto;
        padding: 20px;
    }
}

.pflowLogoSvg {
    position: absolute;
    top: 25px;
    left: 22px;
    margin: 10px;
    cursor: pointer;
}