.modelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 80vh;
}

.stateMachineContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    padding: 20px;
}

.stateMachineContainer button {
    margin: 10px;
}