.modelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
}

.stateMachinContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    padding: 20px;
}

.stateMachinContainer button {
    margin: 10px;
}